* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}
@media(max-width: 720px){
    html {
        font-size: 87.5%;
    }
}
.alert-erro {
	background-color: rgba(255, 0, 0, 0.7);
	padding: 10px 20px;
	min-width: 300px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	border-radius: 4px;
	border-left: 8px solid #f00e0e;
	color: white;
}
.alert-erro .msg {
	padding: 0 12px;
	font-weight: 700;
}
.alert-acerto {
	background-color: rgba(50, 205, 50, 0.7);
	padding: 10px 20px;
	min-width: 300px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	border-radius: 4px;
	border-left: 8px solid #238e23;
	color: white;
}
.alert-acerto .msg {
	padding: 0 12px;
	font-weight: 700;
}
.form-register {
	width: 500px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 1.9rem;
}
.table_info {
    margin-top: 50px;
}
.hidden {
	display: none;
}
.form-group input:focus + .check-message {
    display: none;
}
.form-group > .check-message {
	position: absolute;
	padding-bottom: 25px;
	right: 1rem;
	color: #ff4040 !important;
	transform: translateY(-50%);
}
.form-group label,
input,
select {
	display: block;
	outline: none;
	line-height: 25px;
	width: 100%;
}
#title-register > th {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#title-register > th:nth-child(n + 6) {
    text-align: center;
    font-size: 1rem;
}
#title-register > th:nth-child(7) {
    font-size: 1.5rem;
}
#value-register > td{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#value-register > td:nth-child(n + 6){
    text-align: center;
}